<!DOCTYPE html>
<html>
<head>
    <title>Fediverse Address Book</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/@creativebulma/bulma-tooltip">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Fediverse Address Book</h1>
            <a class="button is-primary" href="{{ url_for('add_follower') }}">New follower</a><br>
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr>
                        <th>Created At</th>
                        <th>Display Name</th>
                        <th>Account</th>
                        <th>Location
                            <a href="{{ url_for('index', sort_location='asc') }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{ url_for('index', sort_location='desc') }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for follower in followers %}
                        <tr>
                            <!-- <td>{{ follower[1] }}</td>  -->
                            <td class="date-cell" data-date="{{ follower[1] }}">
                                {{ follower[1] }} 
                            </td>
                            <td>{{ follower[2] }}</td>
                            <td>{{ follower[3] }}</td>
                            <td>{{ follower[4] }}</td>
                            <td>
                                <a class="button is-small is-info" href="{{ url_for('edit', id=follower[0]) }}">Edit</a>
                                <a class="button is-small is-warning" href="{{ url_for('delete', id=follower[0]) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dateCells = document.querySelectorAll(".date-cell");
            dateCells.forEach(function (cell) {
                console.log(cell)
                
                const dateString = cell.textContent; // Assuming the date is in the format 'YYYY-MM-DD'
                console.log(dateString)

                const dateParts = dateString.split("-");
                console.log(dateParts)

                const dateValue = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]); // Month is zero-based
                console.log(dateValue)

                const currentDate = new Date();
                console.log(currentDate)

                const timeDifference = currentDate - dateValue;
                console.log(timeDifference)

                const daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
                console.log(daysDifference)

                cell.title = `In ${daysDifference} days`;
            });
        });
    </script>
    
    
</body>
</html>
