<!DOCTYPE html>
<html>
<head>
    <title>Fediverse Contacts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/@creativebulma/bulma-tooltip">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Fediverse Contacts</h1>

            <h1 class="title">
                <a class="button is-primary" href="{{ url_for('add_follower') }}">New follower</a>
                <a class="button is-link" href="{{ url_for('update_followers_list') }}">Update followers list</a>
            </h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Created At
                        </th>
                        <th>Display Name</th>
                        <th>Account</th>
                        <th>Location
                            <a href="{{ url_for('index', sort_location='asc') }}">
                                <i class="fas fa-sort-up"></i>
                            </a>
                            <a href="{{ url_for('index', sort_location='desc') }}">
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for follower in followers %}
                        <tr>
                            <td class="date-cell">{{ follower[1] }}</td>
                            </td>
                            <td>{{ follower[2] }}</td>
                            <td class="acct-cell">{{ follower[3] }}</td>
                            <td>{{ follower[4] }}</td>
                            <td>
                                <a class="button is-small is-info" href="{{ url_for('edit', id=follower[0]) }}">Edit</a>
                                <a class="button is-small is-warning" href="{{ url_for('delete', id=follower[0]) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dateCells = document.querySelectorAll(".date-cell");
            dateCells.forEach(function (cell) {
                const dateString = cell.textContent; // Assuming the date is in the format 'YYYY-MM-DD'
                const dateParts = dateString.split("-");
                const anniversaryDate = new Date();
                anniversaryDate.setFullYear(new Date().getFullYear(), parseInt(dateParts[1], 10) - 1, parseInt(dateParts[2], 10));
                if (anniversaryDate < new Date()) {
                    anniversaryDate.setFullYear(anniversaryDate.getFullYear() + 1);
                }
                const timeDifference = anniversaryDate - new Date();
                const daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));

                if (daysDifference == 0) {
                    cell.title = `Fediversary is today !!! 🎉🎂🥳`;
                }  else if (daysDifference == 1) {
                    cell.title = `Fediversary is tomorrow`;
                } else {
                    cell.title = `Fediversary is in ${daysDifference} days !`;
                }
            });

            const acctCells = document.querySelectorAll(".acct-cell");
            
            acctCells.forEach(function (cell) {
                const accountParts = cell.textContent.split("@");
                const instance = accountParts[1];
                const username = accountParts[0];
                const formattedAccount = `${instance}/@${username}`;
                
                // Create an anchor element
                const link = document.createElement("a");
                link.textContent = formattedAccount;
                link.href = `https://3615.computer/@${username}@${instance}`; // Assuming account is a website URL
                link.target = "_blank"; // Open link in a new tab
                
                // Replace the cell content with the anchor element
                cell.innerHTML = ""; // Clear the cell's content
                cell.appendChild(link);
            });


        });
    </script>
    
    
    
</body>
</html>
